env12/
**/__pycache__/
**/.env
**.db
**/envirormentEl.session.sql
**/.vscode/
**/envirorment-el-firebase-adminsdk-fbsvc-9599c2dc71.json
output_from_server.txt
output_from_test_script.txt
# **/trash_classifier.onnx.data
# **/trash_classifier.onnx
**/google-services.json

**/flutter_source_code/MaterialIcons-Regular.ttf

